.btn {
    display: inline-block;
    font-family: $header-font-family;
    font-weight: $global-weight-bold;
    padding:1em 1.5em;
    background-color: $color-cyan;
    background-image: linear-gradient(90deg, transparent 0,  $color-blue 33.33%, $color-blue 66.66%, transparent 100%);
    background-size: 200% 100%;
    background-position: 0 center;
    transition: all .2s ease-in;
    border-radius: 1.5em;
    line-height: 1;
    min-width: 15em;
    max-width: 100%;
    text-align:center;
    text-decoration: none;
    border: none;
    color: $color-white;
    appearance: none;
    //-webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    box-shadow: 0 0 2em 0 rgba(#000,.5);
    &:hover, &:focus  {
        color:inherit;
        background-position: -100% center;
        box-shadow: 0 0 2em 0 rgba(#000,.666);
        //background-image: linear-gradient(-120deg, transparent 0,  $color-blue 66%);
    }
}

.fauxbtn {
    color:$color-cyan;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid currentColor;
    padding-bottom:.125em;
    transition: all .2s ease-in;
    &:hover, &:focus {
        color:$color-white;
        border-color: transparent;
        &:after {
            margin-left:.75em;
        }
    }
    &:after {
        content:'';
        display: inline-block;
        height:1em;
        width:1em;
        margin-left:.333em;
        transform: translateY(.25em);
        transition: inherit;
        //background-color: $color-cyan;
        background-image: url(../img/icon-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}