.featcard {
    position: relative;
    //border: 1px solid $color-cyan;
    text-align: center;
    padding: 8rem 0 2rem;
    //font-size:.875rem;
    max-width: 35rem;
    margin:0 auto;

    img {
        position: absolute;
        left: 50%;
        top: 4rem;
        max-width: 20%;
        transform: translateX(-50%) translateY(-50%); 
    }

    h3 {
        margin:0 0 .5em;
        font-size:1.333rem;
    }
}