.mainmenu {
    list-style: none;
    margin:0 0;
    padding: 0;
    display: flex;
    > li {
        white-space: nowrap;
        + li {
           //padding-left:12%;
        }
        a {
            display: block;
            padding:.5em calc(.5em + 1vw);
            text-decoration: none;
            font-size:1.125rem;

        }
    }

}

.footermenu {
    list-style: none;
    padding: 0;
    margin: 0 0;
    > li {
        margin: 0;
        padding: 0;
        + li {
            margin-top:.5rem;
        }
        a {
            text-decoration: none;
        }
    }
}

.sociallinks {
    list-style: none;
    padding: 0;
    margin: 0 0;
    text-align: center;
    font-size:1rem;
    line-height: 1;
    @include breakpoint(768px) {
        text-align: left;
    }
    @include breakpoint(1024px) {
        text-align: right;
    }
    > li { 
        margin: 0;
        padding: 0;
        display: inline-block;
        a {
            display: inline-block;
            padding: 10.666% 0 0;
            margin:0 .333em;
            border:1px solid currentcolor;
            border-radius:50%;
            width:2.125em;
            height:2.125em;
            text-decoration: none;
            text-align: center;
        }
    }

}

