.featurelist {
    margin:0 auto 0;
    padding:0;
    list-style: none;
    max-width: 66rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15%;
    grid-row-gap: 5rem;
    @include breakpoint(768px) {
        grid-template-columns: 1fr 1fr;
    }
     
    > li {
        //width:50%;
        margin:0;
        padding:0;
    }
}