<footer class="sitefooter pagewrap">
    <img src="{{root}}assets/img/logo.svg" alt="Fylo Logo">
    <section class="footergrid">
        <div class="contacts">
            <p><svg class="icon"><use xlink:href="#icon-location"></use></svg> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <p><svg class="icon"><use xlink:href="#icon-call"></use></svg> <a href="tel:+1-543-123-4567">+1-543-123-4567</a></p>
            <p><svg class="icon"><use xlink:href="#icon-mail"></use></svg> <a href="mailto:example@fylo.com">example@fylo.com</a></p>
        </div>
        <nav>
            <ul class="footermenu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="footermenu">
                <li><a href="#">Contac Us</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <div>
            <ul class="sociallinks">
                <li><a href="#"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg></a></li>
                <li><a href="#"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a></li>
                <li><a href="#"><svg class="icon"><use xlink:href="#icon-instagram"></use></svg></a></li>
            </ul>
        </div>  
    
    </section>



</footer>
<footer class="attrfooter pagewrap pagewrap--full">
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a target="_blank" href="https://www.linkedin.com/in/szabogabi/">Gábor Szabó</a>.<br>
      Sourcecode is available at <a target="_blank" href="https://github.com/ceto/fylodark">GitHub</a>.
    </p>
</footer>