<header class="siteheader pagewrap pagewrap--full">
    <div class="siteheader__logoblock">
        <a href="#" class="sitelogo">
            <span class="screen-reader-text">CSS-Tricks</span>
            <img src="{{root}}assets/img/logo.svg" alt="Fylo Logo">
        </a>
    </div>
    <div class="siteheader__navblock">
        <ul class="mainmenu">
            <li><a href="#home__features">Features</a></li>
            <li><a href="#home__testimonials">Team</a></li>
            <li><a href="#home__cta">Sign In</a></li>
        </ul>
    </div>
</header>